.Delete-btn {
  background-color: #ff4d4d;
  color: white;
  height: 20px;
  width: 60px;
  text-align: center;
  justify-content: center;
  text-size-adjust: inherit;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.Add-btn {
  background-color: #359e22;
  color: white;
  height: 20px;
  width: 60px;
  text-align: center;
  justify-content: center;
  text-size-adjust: inherit;
  cursor: pointer;
  border-radius: 5px;
}
.Page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.Edit-btn {
  background-color: #4d94ff;
  color: white;
  height: 20px;
  width: 60px;
  text-align: center;
  justify-content: center;
  text-size-adjust: inherit;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  margin-bottom: 20px;
}
.map-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: auto;
}